/* ====================
   基本スタイル
   ==================== */
body {
    font-family: sans-serif;
}

/* 固定ヘッダーの基本スタイル */
.fixed-top-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    height: auto; /* 高さは自動調整 */
}

/* ====================
   コンテンツのレイアウト
   ==================== */
/* メインコンテンツの余白 */
body {
    padding-top: 200px;
}

/* 抽出結果のセクション */
.result-section {
    margin-top: 40px;
}

/* ====================
   フォーム関連
   ==================== */
/* メンバー選択のチェックボックス */
.member-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* ====================
   テーブルスタイル
   ==================== */
/* テーブル共通のスタイル */
.data {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* テーブルのセルとボーダー */
.data th,
.data td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* 日付の列のデータだけ左揃えにする */
.data td:first-child {
    text-align: left;
}

/* 日付の列の幅を固定 */
.data th:first-child {
    width: 100px;
    white-space: nowrap; /* テキストの折り返しを防ぐ */
}

/* 偶数行の背景色 */
.data tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* ====================
   メタデータリスト
   ==================== */
.meta-list {
    list-style-type: none;
    padding: 0;
}

.meta-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.meta-list li p {
    margin: 0;
}

/* ====================
   マニュアルスタイル
   ==================== */
.manual-section {
    margin-bottom: 2rem;
}

.manual-heading {
    border-bottom: 1px solid #dee2e6; /* Bootstrapのボーダー色に合わせる */
    padding-bottom: .5rem;
}

/* manual-subheading の修正 */
.manual-subheading {
    margin-top: 1.5rem; /* 上の要素からのマージンを追加 */
}


/* ====================
   レスポンシブデザイン
   ==================== */
/* 画面幅が992px以下の場合（タブレット用） */
@media (max-width: 991.98px) {
    body {
        padding-top: 200px;
    }
}

/* 画面幅が768px以下の場合（スマートフォン用） */
@media (max-width: 767.98px) {
    body {
        padding-top: 250px;
    }

    .row {
        flex-direction: column-reverse;
    }

    /* メンバー指定の抽出結果のコンテナに下マージンを追加 */
    .row .col-md-6:nth-child(2) {
        margin-bottom: 20px;
    }
}