body { font-family: sans-serif; }
.data { border-collapse: collapse; width: 100%; }
.data th, .data td { border: 1px solid #ddd; padding: 8px; }
.data tr:nth-child(even) { background-color: #f2f2f2; }
.result-section { margin-top: 40px; }
.member-checkboxes { display: flex; flex-wrap: wrap; gap: 10px; }
.meta-list { list-style-type: none; padding: 0; }
.meta-list li { margin-bottom: 10px; padding: 10px; border: 1px solid #eee; border-radius: 5px; }
.meta-list li p { margin: 0; }

/* 固定ヘッダーの基本スタイル */
.fixed-top-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    height: auto; /* 高さは自動調整 */
}

/* メインコンテンツの余白 */
body {
    /* デフォルトのpadding-topを設定（PCなど大きな画面用） */
    padding-top: 200px;
}

/* 画面幅が992px以下の場合（タブレット用） */
@media (max-width: 991.98px) {
    body {
        padding-top: 200px; /* 必要に応じて調整 */
    }
}

/* 画面幅が768px以下の場合（スマートフォン用） */
@media (max-width: 767.98px) {
    body {
        padding-top: 250px; /* 必要に応じて調整 */
    }
    .row {
        flex-direction: column-reverse;
    }

    /* メンバー指定の抽出結果のコンテナに下マージンを追加 */
    .row .col-md-6:nth-child(2) {
        margin-bottom: 20px;
    }
}

/* テーブルのレイアウトを固定 */
.table-responsive .data {
    width: 100%;
    table-layout: fixed;
}

/* 日付の列の幅を固定 */
.data th:first-child {
    width: 100px;
    white-space: nowrap; /* テキストの折り返しを防ぐ */
}

/* 列名（ヘッダー）と表のセルを中央揃えにする */
.data th,
.data td {
    text-align: center;
}

/* 日付の列のデータだけ左揃えにする */
.data td:first-child {
    text-align: left;
}